*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.ürünler {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

img {
    max-height: 100px;
}

.sepet {
    padding-left: 100px;
    padding-right: 200px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sepet-tutari{
    justify-self: right;
    align-self: flex-end;
}